<div class="sidebar" [class.sidebar-active] = "isActive">
    <div class="logo">
        <a routerLink="/home"><i class="fa fa-music"></i> &nbsp;Deezr</a>
    </div>
    <ul>
        <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="https://www.linkedin.com/in/jonas-moapolela-a6649623/" target="_blank"><i class="fa fa-code"></i> Developer</a></li>
        <li><a href="mailto:za.sa.jonas@gmail.com"><i class="fa fa-envelope"></i> Message</a></li>
    </ul>
    <button title="Contact the administrator before subscribing">Subscribe</button>
</div>
